.splash-screen img{
    width: 20vw;
}
.icon-large{
  height: 20vh;
}
.full-page{
    width: 100vw;
    height: 100vh;
}
.border-0{
    border: none;
}
.rounded-edges{
    border-radius: 100px;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .overflow-hidden{
    overflow: hidden;
  }
  .bg-white{
    background-color: white;
  }
  .bg-palewhite{
    background-color: #f3f6ff;
  }

  .auth-page{
    height: 80vh;
    width: 35vw;
  }
  .bg-purple{
    background-color: #ad21fd;
  }
  .input-custom input{
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
  }
  .input-custom input:focus{
    border-color: #ad21fd;
    color: #ad21fd;
  }

  .linear-gradient{
    background: linear-gradient(120deg, #007aff, #c640fe);
  }
.icon-sm{
  height: 20px;
}

  .text-purple{
    color:#ad21fd;
  }
.error{
  color: #d30000;
}
  :not(h1, h2, h3, h4, h5){
    font-size: 14px;
  }

  .admin-dash{
    display: grid;
    grid-template-columns: .7fr 1fr 1fr .8fr;
    gap: 30px;
    grid-template-rows: .3fr 1fr 1fr 2fr;
  }
  .admin-dash div{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.052);
  }

  .admin-dash >div:nth-last-of-type(1){
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .admin-dash >div:nth-last-of-type(2){
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .admin-dash >div:nth-last-of-type(3){
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .admin-dash >div:nth-last-of-type(6){
    grid-column: 4/5;
    grid-row: 2/5;
  }
  .admin-dash >div:nth-last-of-type(7){
    grid-column: 2/4;
    grid-row: 4/5;
  }